body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 20px;
    line-height: 1.6;

    background-image: url("images/skyBW.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    text-align: center;
    position: center;
    background-color: #f4f4f4;
    padding: 20px;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 15px;

}

header img {
    height: 350px;
    margin: 0 auto;
}

nav {
    margin: 20px 0;
    text-align: center;
    padding: 50px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 7px;
}

section {
    max-width: 750px;
    padding-bottom: 30px;
    padding-top: 5px;
    background-color: #f4f4f4;
    border-radius: 15px;
    text-align: center;
    margin: 20px auto;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#about p {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
}

.team-member {
    padding-left: 30px;
    padding-right: 30px;
}

.team-member-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid black;
}

.team-member .title {
    text-align: right;
}

.team-member p {
    text-align: left;
}

.use-cases {
    text-align: left;
    padding-left: 60px;
}

footer {
    text-align: center;
    color: white;
    padding: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.download-button:hover {
    background-color: darkslateblue;
    transform: scale(0.95);
}

.download-button:active {
    transform: scale(0.95);
}